{% extends "../form.njk" %}
{% block beforeForm %}
    <h1 class="govuk-heading-xl">
        {{ pageTitle }}
    </h1>
    <p class="govuk-body">Use this service to get information on a serviceperson who died while in service after 1947
        (includes Palestine 1945-47).</p>
{% endblock %}